[Unit]
Description=Priority ctrl

[Service]
Type=simple
ExecStart=/bin/bash /home/kazuki/scripts/priority_ctrl.sh

[Install]
WantedBy=multi-user.target
